{{ header }}

<main id="common-home" class="container">

    <!-- LIST VIDEOS -->

    <section class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/9SygUTwLeAM" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p>League of Legends Dominio</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/CLjXHuLGDiE" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p> League of Legends 5 Leonas vs 5 Kassadins</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/K0LsMgjVvOo" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p> S4 Campeando</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/Ag-ccTN440M" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p> Nostale los Parguelas</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/E-O1Vel4NPo" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p>League of Legends ALL mid</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/YvrAggneFkU" frameborder="0" allowfullscreen></iframe>
                <div class="caption text-center">
                    <p>  Guild Wars 2 Raid</p>
                </div>
            </div>
        </div>
    </section>

    <!-- END LIST VIDEOS -->

    <!-- ARTICLES -->

    <section class="subcontenido row">
        <header><h2 class="separador text-center">Ultimos cambios</h2></header>

        <article class="col-lg-12">
            <p>29/06/17 @22:00</p>
            <p>Buenas!,</p>
            <p>Ya llevo un tiempo realizando una serie de arreglos en la web.</p>
            <p>Cambios realizados:</p>
            <ul>
                <li>	Nuevo diseño de la web soporte, ahora puedes enviar un mensaje directamente con el formulario.</li>
                <li> 	Se añadieron algunas que otra guía para mando de ps3.</li>
                <li>	Se ha mejorado un poco el off-canvas.</li>
                <li> Se ha rediseñado el pie de página con nuevos enlaces incorporados.</li>
                <li>Nuevo botón para cuando quieras volver a la parte superior de la web.</li>
                <li>Nuevo apartado para proyectos mios que he hecho, en un futuro podria haber proyectos de Nau.</li>
                <li>Algún que otro arreglo de bugs.</li>
            </ul>
            <p>Esto es todo por ahora!</p>
            <p>Tebrase.</p>
        </article>
        <article class="col-lg-12">
            <hr>
            <p>27/05/17 @13:13</p>
            <p>Buenas!,</p>
            <p>Después de mucho tiempo me decidido volver a modificar la web, como ya dispongo de más experiencia en programación y queria repasar como hacer una web responsive, pues aqui esta!</p>
            <p>Cambios realizados:</p>
            <ul>
                <li>	Modificación total del diseño de la web.</li>
                <li> 	Ahora la web es responsive.¿Que quiere decir eso?. Pues que ahora se adapta a diferentes dispositivos, moviles, tablets, etc.</li>
                <li>	Se ha añadido un off-canvas. Es decir, que cuando abras la pagina web en un movil, el menú horizontal desaparecera y creara un icono en la parte superior de la pantalla.
                    Con ese icono, se accedera el menú abriendo-lo verticalmente en la parte izquierda de la pantalla.</li>
                <li>En territorio se ha eliminado el enlace a Infestation, ya que la empresa a dejado el juego abandonado y ya no hay servidores, aunque actualmente hay una versión gratuita, mantenida por la comunidad.</li>
                <li>Aun faltan alguna que otra mejora por hacer, pero se ira actualizando poco a poco.</li>
            </ul>

            <h2>Recordatorio!</h2>

            <p><img class="img-responsive img-centrar" src="Imagenes/antiguaweb2.JPG" width="500"  height="460" alt="image"/></p>
            <p>Tebrase.</p>
        </article>

        <article class="col-lg-12">
            <hr>
            <p>23/12/15 @16:10</p>
            <p>Hola!,</p>
            <p>Se han hecho los siguientes cambios en la web:</p>
            <ul>
                <li>
                    Actualización y optimización al código fuente de HTML 4.1 a HTML 5.</li>
                <li>Arreglos de errores en el menú de navegación.</li>
                <li>Arreglo de errores en la estructura del marco fondo negro.</li>
                <li>Arreglo de errores en acceso a directorios no autorizados.</li>
                <li>Adaptación de los tamaños de la web para dispositivos móviles, aunque aún no está activo el modo visualización para dispositivos móviles.</li>
                <li>Eliminación de video de introducción.</li>
                <li>Eliminación del apartado de videos de comunidad, los videos se han insertado en el índex a modo presentación.</li>
            </ul>
            <p>Esto es todo, Feliz navidad =D</p>
            <p><b><i>Tebrase.</i></b></p>
        </article>

        <article class="col-lg-12">
            <hr>
            <p><b><i>19/12/15 @12:02</i></b></p>
            <p>Buenas!,</p>
            <p>Ahora que llega ya la navidad, se realizaron unos pequeños cambios.</p>
            <ul>
                <li> Añadí decoración navideña y un audio en la portada.</li>
                <li> Incorporación de un nuevo apartado en Guías con el photoshop CS6 portable.</li>
            </ul>
            <p>¡Por el momento esto es todo! Feliz navidad =D</p>
            <p><b><i>Tebrase.</i></b></p>
        </article>

        <article class="col-lg-12">
            <hr>
            <p><b><i>07/11/15 @17:00</i></b></p>
            <p>Buenas!,</p>
            <p>Después de mucho tiempo me decidido volver a modificar la web, no es que sea muy útil pero bueno, puro entretenimiento y porque forma parte de mis estudios xD!</p>
            <p>Cambios realizados:</p>
            <ul>
                <li>	Modificación total del diseño de la web.</li>
                <li> 	Como se acerca el frio y la navidad, se implementó la nieve de nuevo.</li>
                <li>	Eliminado el apartado de torneos de lol.</li>
                <li>	Se ha añadido una nueva pestaña en la comunidad y tenemos una DISCO! Por el momento no he puesto casi músicas, pero bueno algo nuevo que hay. Más adelante se añadirán más.</li>
                <li>	El apartado de noticias como es algo bastante poco útil, actualmente esta deshabilitado.
                    Esto es todo por el momento. </li>
            </ul>

            <h2>Recordatorio (k fea)!</h2>

            <p><img class="img-responsive img-centrar" src="Imagenes/antiguaweb.JPG" width="500"  height="460" alt="image"/></p>
            <p><b><i>Tebrase.</i></b></p>
        </article>

    </section>

    <!-- END ARTICLES -->
</main>
<?php include('footer.php'); ?>


<script>
    /*
     * Open the drawer when the menu icon is clicked.
     */
    var menu = document.querySelector('#menuIcon');
    var main = document.querySelector('main');
    var drawer = document.querySelector('#drawer');

    menu.addEventListener('click', function (e) {
        drawer.classList.toggle('open');
        e.stopPropagation();
    });
    main.addEventListener('click', function () {
        drawer.classList.remove('open');
    });
</script>
</body>