{{ header }}

<main id="common-home" class="container">


    <!-- ULTIMOS CAMBIOS -->

    <section class="last-posts row">
        <header><h2 class="separador text-center">Ultimos cambios</h2></header>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail-1">
                <img class="img-responsive" src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/68dd54ca-60cf-4ef7-898b-26d7cbe48ec7/10-dithering-opt.jpg">
                <div class="caption text-center">
                    <p>29/06/17 @22:00</p>
                    <h2>NUEVO SOPORTE</h2>
                    <p>Nuevo diseño, formulario para enviar mensajes y contactar con los administradores de Flaming Rage. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail-2">
                <img class="img-responsive" src="https://n6-img-fp.akamaized.net/iconos-gratis/ps4-gamepad_318-81379.jpg?size=338&ext=jpg">
                <div class="caption text-center">
                    <p>29/06/17 @22:20</p>
                    <h2>GUÍA MANDO PS3</h2>
                    <p>Text</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail-1">
                <img class="img-responsive" src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/68dd54ca-60cf-4ef7-898b-26d7cbe48ec7/10-dithering-opt.jpg">
                <div class="caption text-center">
                    <p>Data</p>
                    <h2>Title</h2>
                    <p>Text</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail-2">
                <img class="img-responsive" src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/68dd54ca-60cf-4ef7-898b-26d7cbe48ec7/10-dithering-opt.jpg">
                <div class="caption text-center">
                    <p>Data</p>
                    <h2>Title</h2>
                    <p>Text</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail-1">
                <img class="img-responsive" src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/68dd54ca-60cf-4ef7-898b-26d7cbe48ec7/10-dithering-opt.jpg">
                <div class="caption text-center">
                    <p>Data</p>
                    <h2>Title</h2>
                    <p>Text</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail-2">
                <img class="img-responsive" src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/68dd54ca-60cf-4ef7-898b-26d7cbe48ec7/10-dithering-opt.jpg">
                <div class="caption text-center">
                    <p>Data</p>
                    <h2>Title</h2>
                    <p>Text</p>
                </div>
            </div>
        </div>
    </section>


    <!-- END ULTIMOS CAMBIOS -->

    <!-- LIST VIDEOS -->

    <section class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/9SygUTwLeAM" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p>League of Legends Dominio</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/CLjXHuLGDiE" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p> League of Legends 5 Leonas vs 5 Kassadins</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/K0LsMgjVvOo" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p> S4 Campeando</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/Ag-ccTN440M" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p> Nostale los Parguelas</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/E-O1Vel4NPo" allowfullscreen frameborder="0"></iframe>
                <div class="caption text-center">
                    <p>League of Legends ALL mid</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img-thumbnail">
                <iframe src="https://www.youtube.com/embed/YvrAggneFkU" frameborder="0" allowfullscreen></iframe>
                <div class="caption text-center">
                    <p> Guild Wars 2 Raid</p>
                </div>
            </div>
        </div>
    </section>

    <!-- END LIST VIDEOS -->

</main>
{{ footer }}


<script>
    /*
     * Open the drawer when the menu icon is clicked.
     */
    var menu = document.querySelector('#menuIcon');
    var main = document.querySelector('main');
    var drawer = document.querySelector('#drawer');

    menu.addEventListener('click', function (e) {
        drawer.classList.toggle('open');
        e.stopPropagation();
    });
    main.addEventListener('click', function () {
        drawer.classList.remove('open');
    });
</script>
</body>