# Config and Htaccess Files
.htaccess
config.php
admin/config.php

# Image File
!/image/no_image.jpg

# Image Cache Files
image/*

# System Cache Files
system/storage/*
system/storage/cache/index.html


# Flags
# remove sharp char if you want to add flags to gitignore
# flags/*


# IDE Project files
/.idea