$color-text: #8a8d93;

#container{
  background: url(../../../image/catalog/bg-login-admin.jpg) no-repeat center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  position: relative;
}

#content{
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  width: 35%;
  min-width: 350px;
  max-width: 500px;
  background: rgba(0,0,0,0.3);
  padding-bottom: 0;

  .container-fluid{
    padding: 0 40px;
  }

  .panel-default{
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .panel-heading{
    padding: 0;
    background: transparent;
    border: none;
    &::before{
      content: '';
      background: url(../../../image/catalog/adminTitle.png) no-repeat center center;
      background-size: contain;
      width: 90%;
      height: 200px;
      margin-left: 5%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .panel-body{
    padding: 0;
    border: none;
  }

  .form-group{
    padding: 0 0 10px;
    &+.form-group{
      border: none;
    }
    .form-control{
      background: rgba(0,0,0,0.8);
      color:#FFF;
    }
    .help-block{
      a{
        color:#209e91;
        &:hover{
          color:#086157;
        }
      }
    }
  }
}

  #footer{
    position: absolute;
    bottom: 0;
    height: 150px;
    right: 0;
    width: 35%;
    min-width: 350px;
    max-width: 500px;
    left: auto;
    &::before{
      content: '';
      background: url(../../../image/catalog/Header/titulo.gif) no-repeat center center;
      background-size: contain;
      width: 50%;
      height: 100px;
      margin-left: 25%;
      display: block;
    }
    a{
      color:#209e91;
      &:hover{
        color:#086157;
      }
    }
  }

  .btn-danger{
    background-color: #561810;
    border-color: #561810;
    &:hover{
      background-color: #771d11;
      border-color: #771d11;
    }
  }
