{{ header }}
<main id="article" class="container">
    <section>
        <header><h1 class="text-center">{{ title }}</h1></header>
        {% if isLogged == false %}
            <header><h2>DESCARGAS:</h2></header>
            <p>Necesitas iniciar sesión para poder descargar contenido.</p>
        {% endif %}
      {{ content_top }}
    </section>
</main>
{{ footer }}