{{ header }}
<main id="article" class="container">

    <section>

        <header><h1 class="text-center">Guía Fraps y Sony vegas</h1></header>
        <article class="row">
            <header class="col-xs-12"><h2>Descargas:</h2></header>
            <div class="col-md-6">
                <a href="https://mega.co.nz/#!kFdwRS5L!HaHjERu8CKqFjcLU6O88q1iEpPUe_BmIlf00ycZhszQ"><img class="img-responsive" alt="fraps" src="http://33.media.tumblr.com/7b000a15d5d8a93405931ab3cb8c72c9/tumblr_inline_ni1mfrCQSO1r08jqz.png" width="148" height="151"/></a>

            </div>
            <div class="col-md-6">
                <a href="https://mega.co.nz/#!gclnCYgL!aCiT91yjeL17sPl9Nz5FwymPFhMvaylCci09QX60sQ4"><img class="img-responsive" alt="sonyVegas12" src="http://www.yesiloveguitar.com/wp-content/uploads/Sony-Vegas-Pro-12-b.png" width="140" height="130"/></a>
            </div>
        </article>

      {{ content_top }}
        <p>
            <img class="img-responsive" alt="imagen" src="http://www.flamingrage.hol.es/Imagenes/frapsguia.JPG"></p>



        <p>El apartado FPS lo que más nos "importa" es el recuadro negro. Como podéis ver en la imagen, hay 4 agujeros blancos dentro del recuadro y otro fuera. Eso indica la posición de los números de los frames (fps), si marcáis el de fuera no se mostrarán. En esta versión como algunas anteriores, si solo grabas videojuegos que se abren por OpenGL sin tener marcado al opción de grabar desde monitor, aunque vosotros mientras grabáis veis los FPS, al grabarse no se verán en el video. Así que no es necesario quitar la muestra de los FPS, a no ser que grabéis desde la opción de Monitor.</p>

        <p>
            <img class="img-responsive" alt="imagen" src="../Imagenes/frapsguiafps.JPG"></p>


        <p>En este apartado, Movies, es la más importante de todas, para los que les interesa grabar un video. Como podéis observar en la imagen, podéis seleccionar la tecla para empezar a grabar o terminar. Atentos! En especial que aquí todos jugamos a League of Legends, por defecto el fraps os colocara al tecla F9, y el lol el F9 bloquea la pantalla, así que os recomiendo que os pongáis F10 como tengo yo. Las demás opciones ya podéis observar más o menos lo que significa. Las opciones de abajo claramente se puede ver que son los FPS que deseas grabar dependiendo de cómo te vaya de fluido el juego, mientras grabes. Luego al lado derecho, podemos observar las opciones de sonido. Si queréis grabar todo sonido que salga de Windows, ya sea música, sonido del videojuego, compañeros de Skype o TS, etc. Tenéis que grabar en Estéreo, de toda la vida, no tiene más complicación. La opción de abajo como ya sale a mi imagen que detecta por defecto mi micrófono, tal como averiguamos si deseas que te oigan hablar debes activarla. La parte final, te da 3 opciones. La primera sirve para ocultar el mause. La segunda opción no estoy del todo seguro de su función útil, pero sirve para recordar los FPS. Y por última opción, es para grabar con un color más intenso, intentando parecer real, pero consume mucho y para los que no tengan una buena PC no es aconsejable tenerla activada ya que sin la opción activada, por propia experiencia sigue viéndose perfectamente a 1080p.</p>

        <p>
            <img class="img-responsive" alt="imagen" src="../Imagenes/frapsguiamovie.JPG">
        </p>

        <p>Ultima pestaña y la menos importante, Screenshots traducido como captura de pantalla. Y lo único que os puedo decir es que os aconsejo que las fotos las guardéis en opción JPG ya que no pesan mucho y por temas de compatibilidades según algún programa para editar dicha foto. También podéis usar la opción PNG pero eso en caso de una fotografía con fondo transparente, sino, no es necesario ya que aumenta el peso de la imagen.</p>

        <p>
            <img class="img-responsive" alt="imagen" src="../Imagenes/frapsguiafoto.JPG">
        </p>

        <header><h2>Configuración Sony Vegas renderizado 1080p o 720p</h2></header>

        <p>A la hora de crear un nuevo proyecto para disponerse a editar el video, debemos configurar unos parámetros importantes.</p>
        <p>Como veis en la foto la configuración tiene que estar exactamente como está configurado. Para acceder le damos a Archivo - Nuevo proyecto. Y lo configuramos, su resolución, calidad al renderizarse, etc. Al final del todo marcáis que se inicie todos los nuevos proyectos con esas configuraciones. Muchas veces al grabar algún video que puede variar un poco en la resolución, os preguntara si deseas que el proyecto en el que estás trabajando, quieres que se configure con dicha resolución de el video indicado. Siempre decidle que no. No os preocupéis de si veis marcas negras alrededor, que si puede verse mal. A la hora de renderizarse el programa lo arreglara de forma que se verá a máx. Resolución dependiendo del renderizado, si es 1080p estará en 1920x1080 o si es 720 que estará en 1280x720. No se verá ninguna línea negra a los lados ni nada, si el video necesita extender un poco su resolución, el programa se encargara de hacerlo. A no ser que sea una resolución extremadamente pequeña. En la imagen podéis ver que está configurado que los FPS sean 29.970. No pasa nada que la grabación este en más o menos FPS. No afectara en el video para nada. Esta puesto esta configuración porque Youtube solo acepta estos FPS como Max.
        </p>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img class="img-responsive" alt="imagen" src="../Imagenes/sonyvegasguiaproyecto.JPG">
            </div>
            <div class="col-md-6 col-xs-12">
                <img class="img-responsive" alt="imagen" src="../Imagenes/sonyvegasguiaproyectoaudio.JPG">
            </div>
        </div>
        <p>Mientras editáis, antes de todo, todas las partes del video debéis deshabilitar una opción, llamada re-muestro, que en Youtube, trae problemas y a veces puede provocar que se vea mal algunos momentos del video.</p>
        <p>
            <img class="img-responsive" alt="imagen" src="../Imagenes/sonyvegasguiaproyectoedicion.JPG" width="800"></p>
        <p>A la hora de renderizar un video hay que tener configurado las diferentes opciones de renderización de alta calidad de imagen.</p>
        <p>Primero vamos a Archivo - Renderizar como... Nos saldrán mil y una plantillas configuradas para renderizar un video. Empezamos buscando el apartado Sony AVC/MVC (mp4, m2ts, avc.). Abrimos y nos salen mil opciones más y podemos seleccionar la primera misma. Le damos Personalizar plantilla.
        </p>
        <p>
            <img class="img-responsive" alt="imagen" src="../Imagenes/sonyvegasguiarenderizado.JPG"></p>
        <p>La imagen que he colocado abajo os limitáis a copiar la misma configuración. Este tipo de plantilla está hecha para 1080p.</p>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img class="img-responsive" alt="imagen" src="../Imagenes/sonyvegasguiaplantillarenderizado.JPG">
            </div>
            <div class="col-md-4 col-xs-12">
                <img class="img-responsive" alt="imagen" src="../Imagenes/sonyvegasguiaaudiorenderizado.JPG">
            </div>
            <div class="col-md-4 col-xs-12">
                <img class="img-responsive" alt="imagen" src="../Imagenes/sonyvegasguiaproyectorenderizado.JPG">
            </div>
        </div>


        <p>Y para la configuración de 720p solo varia en los bits por segundo y la resolución, lo demás es todo igual que el de 1080p.</p>
        <p>
            <img class="img-responsive" alt="imagen" src="../Imagenes/sonyvegasguiaplantilarenderizado720.JPG"></p>
        <p>Finalmente cada una de las plantillas le colocáis un nombre que podáis reconocer y lo guardáis. Como consejo agregadlo como favorito y así cada vez que deseáis renderizar un video, marcáis la casilla Mostrar solo favoritos y tendréis vuestras configuraciones propias de renderizado de alta definición.</p>
        <p>Espero que les sea útil esta guía y suerte a todos!</p>
    </section>
</main>
{{ footer }}