{{ header }}
{{ content_top }}
<main id="disco" class="container">
        <section class="subcontenido">
            <article class="row">
                <header><h2 class="separador text-center">Nightcore</h2></header>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail">
                        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/232012019&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        <div class="caption text-center"><h3>Rock Tomo 1</h3></div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail ">
                        <iframe  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/232017663&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        <div class="caption text-center">
                            <h3>Rock Tomo 2</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail ">
                        <iframe src="https://www.youtube.com/embed/VQy7gCet35s" frameborder="0" allowfullscreen></iframe>
                        <div class="caption text-center">
                            <h3>Mix</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail ">
                        <iframe src="https://www.youtube.com/embed/PUh8uiR7Dao" frameborder="0" allowfullscreen></iframe>
                        <div class="caption text-center">
                            <h3>Empyre One Mix</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail ">
                        <iframe src="https://www.youtube.com/embed/Z3yc4bfapGE" frameborder="0" allowfullscreen></iframe>
                        <div class="caption text-center">
                            <h3>BEST EPIC</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail ">
                        <iframe src="https://www.youtube.com/embed/WnYzeRW20A8" frameborder="0" allowfullscreen></iframe>
                        <div class="caption text-center">
                            <h3>Gaming NCS</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail ">
                        <iframe src="https://www.youtube.com/embed/9PIuyzg_qUw" frameborder="0" allowfullscreen></iframe>
                        <div class="caption text-center">
                            <h3>Gaming Mix</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail ">
                        <iframe src="https://www.youtube.com/embed/hN7uX7stu6c" frameborder="0" allowfullscreen></iframe>
                        <div class="caption text-center">
                            <h3>Mix 5h</h3>
                        </div>
                    </div>
                </div>
            </article>
            <article class="row">
                <header class="separador text-center"><h2>Openings</h2></header>


                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail">
                        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/232007543&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        <div class="caption text-center">
                            <h3>Openings Tomo 1</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-thumbnail">
                        <iframe src="https://www.youtube.com/embed/Pjxnery7i80" frameborder="0" allowfullscreen></iframe>
                        <div class="caption text-center">
                            <h3>Compilation 1h</h3>
                        </div>
                    </div>
                </div>
            </article>
        </section>
</main>
{{ footer }}