{{ header }}
<main id="error-not-found" class="container">
  <section class="row text-center">
      <img class="hidden-xs" src="http://localhost/flamingrage_opencart/image/catalog/not%20found/altA.png" >
      <h1>{{ heading_title }}</h1>
      <img class="hidden-xs" src="http://localhost/flamingrage_opencart/image/catalog/not%20found/parguela.gif" >
      <p class="text-center">{{ text_error }}</p>
    </section>
</main>
{{ footer }}
